In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
## 팀 수비력, 팀 공격력
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리')
df_1 = pd.read_csv('2019_타자_팀별_수비점수(March, kWAR, AHP), 주성분(P1, P2, P3)_Scaled_SM, 20연봉, 승률.csv', encoding = 'cp949')
df_1.index = df_1['Unnamed: 0']
del df_1['Unnamed: 0']
df_1

,March_score,kWAR_score,AHP_score,P1,P2,P3,20연봉,승률
Unnamed: 0,,,,,,,,
두산,44150.924,4790.142,1259.341,362.590461,1237.774294,-188.630502,452100,0.615
KT,43859.358,4754.125,1250.903,336.959632,1154.680794,-180.585478,348700,0.500
키움,43776.818,4743.975,1248.977,362.061583,1239.546146,-192.241449,439700,0.601
KIA,41878.145,4562.400,1211.747,299.008043,1022.251597,-157.162328,426900,0.437
NC,45377.503,4893.407,1279.389,402.543461,1375.226050,-210.547749,564100,0.514
LG,44233.028,4798.749,1261.255,337.683241,1156.795911,-180.705602,486100,0.552
삼성,43192.153,4660.533,1211.372,311.800548,1075.971257,-176.780665,365500,0.420
한화,43364.236,4698.880,1238.058,288.499872,988.926445,-155.773216,302300,0.403
롯데,44110.239,4790.569,1271.978,280.243400,958.068716,-147.881565,716100,0.340
SK,43729.497,4743.813,1252.413,315.984906,1084.357264,-171.040573,457400,0.615

In [3]:
## 19연봉
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
df_2 = pd.read_csv('2019_타자_팀별합.csv', encoding = 'cp949')
df_2.index = df_2['Unnamed: 0']
del df_2['Unnamed: 0']
df_2

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,1002,219.533333,1187,323,443000,452100,6.151441,6.229689,12.381129,23
KT,4929,4380,502,574,1194,154,17,80,99,39,...,971,202.500000,1126,299,329800,348700,5.974517,6.016746,11.991264,21
키움,4670,4122,590,643,1166,197,32,81,107,30,...,908,230.250000,1124,342,325600,439700,5.199185,5.540189,10.739374,18
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,874,182.916667,1073,274,431400,426900,7.184556,8.044333,15.228889,25
NC,5208,4580,563,624,1300,228,26,106,86,44,...,1050,208.166667,1148,300,548400,564100,7.326608,8.373727,15.700334,23
LG,5005,4438,518,591,1193,217,15,75,105,44,...,961,191.383333,1123,300,477400,486100,6.334873,6.128953,12.463826,21
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,918,165.083333,1016,251,356400,365500,7.122289,8.040163,15.162452,27
한화,4861,4325,485,523,1100,195,14,70,81,44,...,910,198.250000,1073,274,360900,302300,6.643191,7.357934,14.001125,24
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,886,174.350000,1047,258,684300,716100,6.189511,6.673211,12.862722,23
SK,4612,4105,501,505,1084,182,12,84,90,38,...,858,196.333333,1029,290,516800,457400,5.348757,5.393421,10.742178,21

In [4]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율')
df_3 = pd.read_csv('2019_타자_팀별.csv')
df_3.index = df_3['팀명']
del df_3['순위'], df_3['팀명']
df_3

       AVG    G    PA    AB    R     H   2B  3B   HR    TB  RBI  SAC  SF
팀명
키움   0.282  144  5658  4991  780  1405  251  38  112  2068  741   36  48
NC   0.278  144  5631  4968  674  1383  249  26  128  2068  639   64  60
두산   0.278  144  5670  4913  736  1364  235  31   84  1913  691   39  83
KT   0.277  144  5582  4965  650  1375  187  20  103  1911  615   45  45
LG   0.267  144  5536  4928  641  1316  233  15   94  1861  604   49  48
KIA  0.264  144  5505  4874  605  1286  248  19   76  1800  567   31  45
SK   0.262  144  5542  4919  655  1290  218  14  117  1887  622   35  38
한화   0.256  144  5482  4882  607  1250  223  16   88  1769  562   44  45
삼성   0.256  144  5533  4866  622  1245  230  26  122  1893  598   58  53
롯데   0.250  144  5488  4919  578  1231  214  22   90  1759  545   35  40

In [5]:
df_4 = pd.read_csv('2019_투수_팀별.csv')
df_4.index = df_4['팀명']
del df_4['순위'], df_4['팀명']
df_4

,ERA,G,W,L,SV,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
팀명,,,,,,,,,,,,,,,,
SK,3.48,144,88,55,51,92,0.615,1292 1/3,1240,99,436,50,1092,546,500,1.30
두산,3.51,144,88,55,44,69,0.615,1283 2/3,1259,78,380,70,860,550,500,1.28
키움,3.61,144,86,57,39,91,0.601,1279,1293,61,371,58,984,572,513,1.30
LG,3.86,144,79,64,43,62,0.552,1283 1/3,1257,89,499,91,953,633,551,1.37
NC,4.01,144,73,69,32,68,0.514,1284 1/3,1285,103,483,92,991,631,572,1.38
KT,4.29,144,71,71,37,59,0.500,1277,1303,118,481,61,848,661,608,1.40
삼성,4.64,144,60,83,29,60,0.420,1275 1/3,1332,125,523,70,924,731,658,1.45
KIA,4.65,144,62,80,30,64,0.437,1264,1362,101,504,76,976,723,653,1.48
한화,4.80,144,58,86,28,43,0.403,1268 2/3,1407,120,526,72,934,737,677,1.52
롯데,4.83,144,48,93,16,47,0.340,1271,1407,120,546,71,1033,764,682,1.54

In [6]:
df_5 = pd.read_csv('2019_수비_팀별.csv')
df_5.index = df_5['팀명']
del df_5['순위'], df_5['팀명']
df_5

       G    E  PKO    PO     A   DP   FPCT  PB   SB  CS   CS%
팀명
SK   144   87    9  3877  1416  131  0.984   3  105  31  22.8
NC   144   95    6  3853  1477  130  0.982   4   64  49  43.4
두산   144   83    8  3851  1430  131  0.985   6   96  32  25.0
LG   144   95    6  3850  1507  139  0.983   7  115  41  26.3
키움   144   99   13  3837  1509  128  0.982   6   92  46  33.3
KT   144  102    7  3831  1479  137  0.981  15   90  43  32.3
삼성   144  105    4  3826  1370  132  0.980   9   90  38  29.7
롯데   144  114    8  3813  1432  131  0.979  11   91  44  32.6
한화   144  106    8  3806  1488  151  0.980  10  104  49  32.0
KIA  144  110    5  3792  1381  126  0.979   9  116  50  30.1

In [7]:
df_fin = df_1.drop(columns = ['20연봉'])
df_fin['19연봉'] = df_2['Money_19']
df_fin['득점'] = df_3['R']
df_fin['실점'] = df_4['R']
df_fin['WHIP'] = df_4['WHIP']
df_fin['ERA'] = df_4['ER']
df_fin['실책'] = df_5['E']
df_fin['FPCT'] = df_5['FPCT']
df_fin['도루허용'] = df_5['SB']
df_fin['도루허용률'] = df_5['CS%']
df_fin

,March_score,kWAR_score,AHP_score,P1,P2,P3,승률,19연봉,득점,실점,WHIP,ERA,실책,FPCT,도루허용,도루허용률
Unnamed: 0,,,,,,,,,,,,,,,,
두산,44150.924,4790.142,1259.341,362.590461,1237.774294,-188.630502,0.615,443000,736,550,1.28,500,83,0.985,96,25.0
KT,43859.358,4754.125,1250.903,336.959632,1154.680794,-180.585478,0.500,329800,650,661,1.40,608,102,0.981,90,32.3
키움,43776.818,4743.975,1248.977,362.061583,1239.546146,-192.241449,0.601,325600,780,572,1.30,513,99,0.982,92,33.3
KIA,41878.145,4562.400,1211.747,299.008043,1022.251597,-157.162328,0.437,431400,605,723,1.48,653,110,0.979,116,30.1
NC,45377.503,4893.407,1279.389,402.543461,1375.226050,-210.547749,0.514,548400,674,631,1.38,572,95,0.982,64,43.4
LG,44233.028,4798.749,1261.255,337.683241,1156.795911,-180.705602,0.552,477400,641,633,1.37,551,95,0.983,115,26.3
삼성,43192.153,4660.533,1211.372,311.800548,1075.971257,-176.780665,0.420,356400,622,731,1.45,658,105,0.980,90,29.7
한화,43364.236,4698.880,1238.058,288.499872,988.926445,-155.773216,0.403,360900,607,737,1.52,677,106,0.980,104,32.0
롯데,44110.239,4790.569,1271.978,280.243400,958.068716,-147.881565,0.340,684300,578,764,1.54,682,114,0.979,91,32.6
SK,43729.497,4743.813,1252.413,315.984906,1084.357264,-171.040573,0.615,516800,655,546,1.30,500,87,0.984,105,22.8

In [ ]:
(HIT+BB+HP)/(AB+BB+HP+SF)

In [21]:
OBP_list = []
for a in range(0, len(df_2)) :
    ja = (df_2['HIT'][a] + df_2['BB'][a] + df_2['HP'][a])
    mo = (df_2['AB'][a] + df_2['BB'][a] + df_2['HP'][a] + df_2['SF'][a])
    obp = ja/mo
    OBP_list.append(obp)

In [24]:
SLG_list = []
for j in range(0, len(df_2)) :
    hit1 = df_2.iloc[j, 4] - df_2.iloc[j, 5] - df_2.iloc[j, 6] - df_2.iloc[j, 7]
    hit2 = df_2.iloc[j, 5] * 2
    hit3 = df_2.iloc[j, 6] * 3
    hit4 = df_2.iloc[j, 7] * 4
    
    up = hit1 + hit2 + hit3 + hit4
    down = df_2.iloc[j, 1]
    
    SLG = up/down
    SLG_list.append(SLG)

In [27]:
df_fin['OBP'] = OBP_list
df_fin['SLG'] = SLG_list
df_fin['OPS'] = [o + s for o, s in zip(OBP_list, SLG_list)]
df_fin['SB'] = df_2['SB']
df_fin

,March_score,kWAR_score,AHP_score,P1,P2,P3,승률,19연봉,득점,실점,WHIP,ERA,실책,FPCT,도루허용,도루허용률,OBP,SLG,OPS,SB
Unnamed: 0,,,,,,,,,,,,,,,,,,,,
두산,44150.924,4790.142,1259.341,362.590461,1237.774294,-188.630502,0.615,443000,736,550,1.28,500,83,0.985,96,25.0,0.348405,0.378159,0.726564,101
KT,43859.358,4754.125,1250.903,336.959632,1154.680794,-180.585478,0.500,329800,650,661,1.40,608,102,0.981,90,32.3,0.339951,0.370320,0.710271,99
키움,43776.818,4743.975,1248.977,362.061583,1239.546146,-192.241449,0.601,325600,780,572,1.30,513,99,0.982,92,33.3,0.354248,0.405143,0.759391,107
KIA,41878.145,4562.400,1211.747,299.008043,1022.251597,-157.162328,0.437,431400,605,723,1.48,653,110,0.979,116,30.1,0.335268,0.366901,0.702169,79
NC,45377.503,4893.407,1279.389,402.543461,1375.226050,-210.547749,0.514,548400,674,631,1.38,572,95,0.982,64,43.4,0.352244,0.414410,0.766655,86
LG,44233.028,4798.749,1261.255,337.683241,1156.795911,-180.705602,0.552,477400,641,633,1.37,551,95,0.983,115,26.3,0.336426,0.375169,0.711595,105
삼성,43192.153,4660.533,1211.372,311.800548,1075.971257,-176.780665,0.420,356400,622,731,1.45,658,105,0.980,90,29.7,0.321551,0.374910,0.696461,114
한화,43364.236,4698.880,1238.058,288.499872,988.926445,-155.773216,0.403,360900,607,737,1.52,677,106,0.980,104,32.0,0.322889,0.354451,0.677339,81
롯데,44110.239,4790.569,1271.978,280.243400,958.068716,-147.881565,0.340,684300,578,764,1.54,682,114,0.979,91,32.6,0.318778,0.360133,0.678911,57
SK,43729.497,4743.813,1252.413,315.984906,1084.357264,-171.040573,0.615,516800,655,546,1.30,500,87,0.984,105,22.8,0.333988,0.375639,0.709628,90

In [28]:
df_fin.to_csv('2019_팀별지표들.csv', encoding = 'cp949')