In [2]:
import os
import pandas as pd
import math
from sklearn.preprocessing import StandardScaler

#### 규정타석, 연차, 연봉

In [3]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
df_1 = pd.read_csv('2019_타자_DEA_OPS_law_규정타석_연차_FA.csv', encoding = 'cp949')
df_1.index = df_1['Name']
del df_1['Name']
df_1

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS,연차,프로입단,FA유무
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,38,내,250000,250000,0.355191,0.435052,0.790243,19,2001,1
박병호,532,432,98,92,121,22,0,33,0,1,...,34,내,150000,200000,0.398496,0.560185,0.958681,15,2005,0
양의지,459,390,68,61,138,26,0,20,4,3,...,40,포,200000,200000,0.437908,0.574359,1.012267,14,2006,1
손아섭,568,512,63,78,151,22,1,10,13,8,...,36,외,150000,200000,0.359788,0.400391,0.760179,13,2007,1
최형우,555,456,86,65,137,31,1,17,0,1,...,36,외,150000,150000,0.412613,0.484649,0.897262,18,2002,1
김현수,595,526,82,75,160,37,0,11,3,1,...,48,외,130000,130000,0.369748,0.437262,0.807010,14,2006,1
이재원,502,451,75,33,121,19,0,12,1,0,...,40,포,140000,130000,0.327345,0.390244,0.717589,14,2006,1
최정,606,503,99,86,147,27,0,29,3,2,...,47,내,120000,120000,0.399340,0.518887,0.918227,15,2005,1
황재균,507,448,67,78,127,16,3,20,10,7,...,27,내,120000,120000,0.357002,0.466518,0.823520,14,2006,1
김재호,470,377,48,51,101,22,0,4,3,3,...,27,내,65000,65000,0.378788,0.358090,0.736878,16,2004,1
김재환,574,495,91,76,140,20,5,15,3,1,...,42,외,73000,65000,0.362369,0.434343,0.796713,12,2008,0
오지환,547,473,53,63,119,23,5,9,27,5,...,32,내,40000,60000,0.338889,0.378436,0.717324,11,2009,0
김하성,625,540,104,112,166,38,2,19,33,4,...,59,내,32000,55000,0.389423,0.490741,0.880164,6,2014,0
박민우,526,468,45,89,161,23,8,1,18,7,...,32,내,38000,52000,0.402672,0.433761,0.836432,8,2012,0
김태균,500,433,62,47,132,21,0,6,3,0,...,34,내,100000,50000,0.382000,0.394919,0.776919,19,2001,1
이성열,476,414,85,60,106,21,1,21,8,4,...,37,내,32000,50000,0.343158,0.463768,0.806926,17,2003,0
유한준,562,501,86,61,159,19,1,14,3,0,...,53,외,60000,50000,0.382562,0.443114,0.825676,20,2000,1
전준우,606,545,83,85,164,30,1,22,8,2,...,43,외,50000,50000,0.358678,0.480734,0.839412,12,2008,0
허경민,540,475,60,71,137,25,1,4,11,5,...,36,내,38500,48000,0.350093,0.370526,0.720619,11,2009,0
오재일,529,467,102,76,137,29,1,21,2,1,...,45,내,30000,47000,0.368620,0.494647,0.863267,15,2005,0
김선빈,447,394,40,55,115,22,0,3,5,4,...,27,내,30000,45000,0.359729,0.370558,0.730287,12,2008,0
박건우,537,458,64,83,146,27,5,10,12,3,...,33,외,38500,45000,0.397388,0.465066,0.862454,11,2009,0
박경수,490,421,65,43,104,24,0,10,0,1,...,34,내,40000,40000,0.335391,0.375297,0.710688,17,2003,1
이정후,630,574,68,91,193,31,10,6,13,7,...,42,외,23000,39000,0.385965,0.456446,0.842411,3,2017,0
김강민,460,422,50,54,114,14,2,8,15,8,...,31,외,40000,35000,0.323913,0.369668,0.693581,19,2001,0
서건창,486,426,41,67,128,23,3,2,17,3,...,33,내,35000,35000,0.372671,0.382629,0.755300,12,2008,0
정수빈,513,441,41,75,117,19,5,0,26,8,...,27,외,24500,34000,0.353635,0.331066,0.684700,11,2009,0
채은성,514,470,72,59,148,18,1,12,2,2,...,44,외,31000,32000,0.357977,0.434043,0.792019,11,2009,0
박해민,581,506,44,64,121,16,7,5,24,7,...,28,외,36000,30000,0.318102,0.328063,0.646165,8,2012,0
이원석,455,395,76,44,97,20,0,19,2,1,...,35,내,30000,30000,0.326711,0.440506,0.767217,15,2005,1
이천웅,613,546,48,88,168,24,3,2,21,10,...,35,외,15000,28000,0.377668,0.373626,0.751295,9,2011,0
구자욱,526,475,71,66,127,27,6,15,11,3,...,32,외,30000,28000,0.326996,0.444211,0.771207,8,2012,0
한동민,502,427,52,52,113,20,0,12,0,1,...,24,외,33000,25000,0.374502,0.395785,0.770287,8,2012,0
송광민,486,454,51,50,120,21,0,7,8,2,...,29,내,25000,25000,0.298137,0.356828,0.654965,18,2002,1
김상수,543,468,38,76,127,20,2,5,21,3,...,26,내,25000,25000,0.357542,0.354701,0.712243,11,2009,1
이명기,547,484,36,62,142,17,3,2,14,4,...,29,외,22000,24000,0.359259,0.353306,0.712565,14,2006,0
박세혁,505,441,63,58,123,19,9,4,8,2,...,41,포,10000,23200,0.345455,0.390023,0.735477,8,2012,0
유강남,468,418,49,44,113,22,0,16,0,0,...,21,포,21000,23000,0.334047,0.437799,0.771846,9,2011,0
강백호,505,438,65,72,147,29,1,13,9,5,...,33,외,12000,21000,0.415842,0.495434,0.911275,2,2018,0
김성현,472,426,34,45,105,16,2,1,6,2,...,24,내,28000,21000,0.301724,0.300469,0.602194,14,2006,0
이형종,482,419,63,56,120,24,1,13,6,5,...,28,외,17000,20000,0.357588,0.441527,0.799116,12,2008,0
최재훈,451,373,31,47,108,18,0,3,3,10,...,20,포,12500,20000,0.398210,0.361930,0.760141,12,2008,0
김헌곤,467,411,46,57,122,20,1,5,10,8,...,31,외,15500,19000,0.361472,0.386861,0.748333,9,2011,0
고종욱,513,492,56,76,159,25,7,3,31,10,...,43,외,11000,17000,0.346979,0.420732,0.767710,9,2011,0
정은원,624,564,57,83,148,27,6,8,14,7,...,27,내,5500,12000,0.317152,0.374113,0.691266,2,2018,0
박찬호,541,504,49,60,131,15,4,2,39,6,...,40,내,4200,10500,0.300373,0.317460,0.617833,6,2014,0
오선진,453,392,36,37,88,16,0,3,7,2,...,26,내,7500,10500,0.306998,0.288265,0.595263,12,2008,0
김민혁,521,466,32,68,131,10,1,0,22,10,...,28,외,3900,9000,0.341085,0.306867,0.647952,6,2014,0
이창진,470,400,48,57,108,25,1,6,8,8,...,27,내,3100,8500,0.362661,0.382500,0.745161,6,2014,0

#### Sabermetrics 주성분

In [2]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\주성분')
df_SM_P = pd.read_csv('2019_타자_팀별_주성분3개_규정타석_Scaled_SM.csv', encoding = 'cp949')
df_SM_P.index = df_SM_P['Unnamed: 0']
del df_SM_P['Unnamed: 0']
df_SM_P

,OBP,SLG,OPS,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,OW%,BABIP
Unnamed: 0,,,,,,,,,,,,,,
P1,0.283649,0.298875,0.306859,0.304993,0.254899,0.303164,0.302595,0.302595,0.298214,0.222762,0.195873,-0.068027,0.301323,0.175160
P2,-0.170874,0.117013,0.000628,0.062701,0.352000,0.077199,-0.131328,-0.131328,-0.140102,0.444491,0.267882,0.561240,-0.130154,-0.409791
P3,0.240568,0.070280,0.145862,0.106691,0.027630,0.122206,-0.084393,-0.084393,-0.167646,-0.118399,-0.509080,0.589690,-0.083781,0.467491

In [4]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
df_SM = pd.read_csv('2019_타자_팀별_Saber.csv', encoding = 'cp949')
df_SM

,Unnamed: 0,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,OW%,BABIP
0,두산,4993,4313,599,643,1162,200,31,69,101,...,0.309297,0.698722,523.284688,19.380914,607.850,0.108741,81.988235,0.650651,0.623304,0.305222
1,KT,4929,4380,502,574,1194,154,17,80,99,...,0.264384,0.656860,481.280829,17.825216,561.990,0.097717,88.491620,0.638638,0.583279,0.317922
2,키움,4670,4122,590,643,1166,197,32,81,107,...,0.316594,0.731106,524.384079,19.421633,598.068,0.122271,92.202128,0.686838,0.624289,0.328688
3,KIA,4507,3982,474,495,1046,191,16,64,79,...,0.287042,0.653355,424.774092,15.732374,505.946,0.104219,70.713287,0.697901,0.521602,0.307163
4,NC,5208,4580,563,624,1300,228,26,106,86,...,0.313755,0.725661,587.084357,21.743865,665.952,0.130568,94.958333,0.641782,0.675613,0.319081
5,LG,5005,4438,518,591,1193,217,15,75,105,...,0.280306,0.660294,480.000407,17.777793,566.392,0.106354,87.500000,0.644728,0.581983,0.312552
6,삼성,4726,4177,467,544,1052,187,24,93,114,...,0.303328,0.654674,427.573391,15.836052,525.044,0.123055,102.434783,0.681078,0.524879,0.290694
7,한화,4861,4325,485,523,1100,195,14,70,81,...,0.264046,0.613515,394.318694,14.604396,500.026,0.100116,75.099338,0.652585,0.484421,0.310241
8,롯데,4678,4204,460,486,1071,184,14,77,57,...,0.262607,0.608909,387.763465,14.361610,485.548,0.105376,65.507463,0.669917,0.476052,0.306129
9,SK,4612,4105,501,505,1084,182,12,84,90,...,0.281364,0.662416,448.621706,16.615619,527.092,0.111571,86.896552,0.688036,0.548771,0.303951

In [22]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
df_SM = pd.read_csv('2019_타자_팀별_Saber.csv', encoding = 'cp949')
Name_list = df_SM['Unnamed: 0']
df_SM.index = Name_list
#df_SM = df_SM[df_SM['PA'] >= math.trunc(144 * 3.1)]
Money_20 = df_SM['Money_20']
df_SM = df_SM.iloc[:, -14:]
#df_SM['SECA'] = [int(e.replace('.', '').strip()) / 100000 for e in df_SM['SECA']]
# df_SM['RC'] = [int(e.replace('.', '').strip()) / 100000 for e in df_SM['RC']]
# df_SM['RC27'] = [int(e.replace('.', '').strip()) / 100000 for e in df_SM['RC27']]
# df_SM['XR'] = [int(e.replace('.', '').strip()) / 100000 for e in df_SM['XR']]
df_SM

,OBP,SLG,OPS,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,OW%,BABIP
Unnamed: 0,,,,,,,,,,,,,,
두산,0.348405,0.378159,0.726564,0.351813,0.309297,0.698722,523.284688,19.380914,607.850,0.108741,81.988235,0.650651,0.623304,0.305222
KT,0.339951,0.370320,0.710271,0.344211,0.264384,0.656860,481.280829,17.825216,561.990,0.097717,88.491620,0.638638,0.583279,0.317922
키움,0.354248,0.405143,0.759391,0.372162,0.316594,0.731106,524.384079,19.421633,598.068,0.122271,92.202128,0.686838,0.624289,0.328688
KIA,0.335268,0.366901,0.702169,0.340648,0.287042,0.653355,424.774092,15.732374,505.946,0.104219,70.713287,0.697901,0.521602,0.307163
NC,0.352244,0.414410,0.766655,0.378148,0.313755,0.725661,587.084357,21.743865,665.952,0.130568,94.958333,0.641782,0.675613,0.319081
LG,0.336426,0.375169,0.711595,0.346725,0.280306,0.660294,480.000407,17.777793,566.392,0.106354,87.500000,0.644728,0.581983,0.312552
삼성,0.321551,0.374910,0.696461,0.342825,0.303328,0.654674,427.573391,15.836052,525.044,0.123055,102.434783,0.681078,0.524879,0.290694
한화,0.322889,0.354451,0.677339,0.328838,0.264046,0.613515,394.318694,14.604396,500.026,0.100116,75.099338,0.652585,0.484421,0.310241
롯데,0.318778,0.360133,0.678911,0.331788,0.262607,0.608909,387.763465,14.361610,485.548,0.105376,65.507463,0.669917,0.476052,0.306129
SK,0.333988,0.375639,0.709628,0.346445,0.281364,0.662416,448.621706,16.615619,527.092,0.111571,86.896552,0.688036,0.548771,0.303951

In [23]:
GEN_list = []
POW_list = []
SPD_list = []

for a in range(0, len(df_SM)) :
    GEN = 0
    POW = 0
    SPD = 0
    
    for b in range(0, len(df_SM.columns)) :
        GEN += df_SM.iloc[a, b] * df_SM_P.iloc[0, b]
        POW += df_SM.iloc[a, b] + df_SM_P.iloc[1, b]
        SPD += df_SM.iloc[a, b] * df_SM_P.iloc[2, b]
    
    GEN_list.append(GEN)
    POW_list.append(POW)
    SPD_list.append(SPD)

In [24]:
df_prins = pd.DataFrame(index = df_SM.index)
df_prins['P1'] = GEN_list
df_prins['P2'] = POW_list
df_prins['P3'] = SPD_list
df_prins

                    P1           P2          P3
Unnamed: 0
두산          362.590461  1237.774294 -188.630501
KT          336.959632  1154.680794 -180.585478
키움          362.061583  1239.546146 -192.241449
KIA         299.008043  1022.251597 -157.162328
NC          402.543461  1375.226050 -210.547749
LG          337.683241  1156.795911 -180.705602
삼성          311.800548  1075.971257 -176.780665
한화          288.499872   988.926445 -155.773216
롯데          280.243400   958.068716 -147.881565
SK          315.984906  1084.357264 -171.040574

#### 수비점수

##### 이닝을 표준화 시키는 것도 생각해봐야할듯 포지션 별로 수비 점수 격차가 너무 커지면

##### AHP 쌍대비교를 해서 수비 포지션 별로 누가 더 중요한지 분석하면 계수가 나올것 같은데

In [25]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리')
df_df = pd.read_csv('2019_팀별수비점수.csv', encoding = 'cp949')
df_df.index = df_df['Unnamed: 0']
del df_df['Unnamed: 0']
df_df

            March_score  kWAR_score  AHP_score
Unnamed: 0
두산            44150.924    4790.142   1259.341
KT            43859.358    4754.125   1250.903
키움            43776.818    4743.975   1248.977
KIA           41878.145    4562.400   1211.747
NC            45377.503    4893.407   1279.389
LG            44233.028    4798.749   1261.255
삼성            43192.153    4660.533   1211.372
한화            43364.236    4698.880   1238.058
롯데            44110.239    4790.569   1271.978
SK            43729.497    4743.813   1252.413

#### Final DF

##### 수비점수 추가

In [26]:
player_list = df_SM.index
df_fin = pd.DataFrame(data = df_df)
df_fin

            March_score  kWAR_score  AHP_score
Unnamed: 0
두산            44150.924    4790.142   1259.341
KT            43859.358    4754.125   1250.903
키움            43776.818    4743.975   1248.977
KIA           41878.145    4562.400   1211.747
NC            45377.503    4893.407   1279.389
LG            44233.028    4798.749   1261.255
삼성            43192.153    4660.533   1211.372
한화            43364.236    4698.880   1238.058
롯데            44110.239    4790.569   1271.978
SK            43729.497    4743.813   1252.413

##### SM 주성분 추가

In [27]:
df_fin['P1'] = df_prins['P1']
df_fin['P2'] = df_prins['P2']
df_fin['P3'] = df_prins['P3']
df_fin

,March_score,kWAR_score,AHP_score,P1,P2,P3
Unnamed: 0,,,,,,
두산,44150.924,4790.142,1259.341,362.590461,1237.774294,-188.630501
KT,43859.358,4754.125,1250.903,336.959632,1154.680794,-180.585478
키움,43776.818,4743.975,1248.977,362.061583,1239.546146,-192.241449
KIA,41878.145,4562.400,1211.747,299.008043,1022.251597,-157.162328
NC,45377.503,4893.407,1279.389,402.543461,1375.226050,-210.547749
LG,44233.028,4798.749,1261.255,337.683241,1156.795911,-180.705602
삼성,43192.153,4660.533,1211.372,311.800548,1075.971257,-176.780665
한화,43364.236,4698.880,1238.058,288.499872,988.926445,-155.773216
롯데,44110.239,4790.569,1271.978,280.243400,958.068716,-147.881565
SK,43729.497,4743.813,1252.413,315.984906,1084.357264,-171.040574

##### 연차 추가

In [32]:
# df_fin['연차'] = df_1['연차']
# df_fin

##### 다음 연도 연봉추가

In [28]:
df_fin['20연봉'] = Money_20
df_fin

,March_score,kWAR_score,AHP_score,P1,P2,P3,20연봉
Unnamed: 0,,,,,,,
두산,44150.924,4790.142,1259.341,362.590461,1237.774294,-188.630501,452100
KT,43859.358,4754.125,1250.903,336.959632,1154.680794,-180.585478,348700
키움,43776.818,4743.975,1248.977,362.061583,1239.546146,-192.241449,439700
KIA,41878.145,4562.400,1211.747,299.008043,1022.251597,-157.162328,426900
NC,45377.503,4893.407,1279.389,402.543461,1375.226050,-210.547749,564100
LG,44233.028,4798.749,1261.255,337.683241,1156.795911,-180.705602,486100
삼성,43192.153,4660.533,1211.372,311.800548,1075.971257,-176.780665,365500
한화,43364.236,4698.880,1238.058,288.499872,988.926445,-155.773216,302300
롯데,44110.239,4790.569,1271.978,280.243400,958.068716,-147.881565,716100
SK,43729.497,4743.813,1252.413,315.984906,1084.357264,-171.040574,457400

##### FA유무 추가

In [31]:
# df_fin['FA유무'] = df_1['FA유무']
# df_fin

In [30]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리')
df_fin.to_csv('2019_타자_팀별_수비점수(March, kWAR, AHP), 주성분(P1, P2, P3)_Scaled_SM, 20연봉.csv', encoding = 'cp949')