In [6]:
import os
import pandas as pd
from statsmodels.formula.api import ols

In [11]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리')
df_1 = pd.read_csv('2019_타자_팀별_수비점수(March, kWAR, AHP), 주성분(P1, P2, P3)_Scaled_SM, 20연봉, 승률.csv', encoding = 'cp949')
df_1.index = df_1['Unnamed: 0']
df_1 = df_1.iloc[:, 1:]
df_1.columns = ['March_score', 'kWAR_score', 'AHP_score', 'P1', 'P2', 'P3', 'Sal_20', 'Winrate']
df_1

,March_score,kWAR_score,AHP_score,P1,P2,P3,Sal_20,Winrate
Unnamed: 0,,,,,,,,
두산,44150.924,4790.142,1259.341,362.590461,1237.774294,-188.630502,452100,0.615
KT,43859.358,4754.125,1250.903,336.959632,1154.680794,-180.585478,348700,0.500
키움,43776.818,4743.975,1248.977,362.061583,1239.546146,-192.241449,439700,0.601
KIA,41878.145,4562.400,1211.747,299.008043,1022.251597,-157.162328,426900,0.437
NC,45377.503,4893.407,1279.389,402.543461,1375.226050,-210.547749,564100,0.514
LG,44233.028,4798.749,1261.255,337.683241,1156.795911,-180.705602,486100,0.552
삼성,43192.153,4660.533,1211.372,311.800548,1075.971257,-176.780665,365500,0.420
한화,43364.236,4698.880,1238.058,288.499872,988.926445,-155.773216,302300,0.403
롯데,44110.239,4790.569,1271.978,280.243400,958.068716,-147.881565,716100,0.340
SK,43729.497,4743.813,1252.413,315.984906,1084.357264,-171.040573,457400,0.615

In [18]:
model = ols(formula = 'Winrate ~ P1', data = df_1).fit()
model.summary()

C:\Users\jaij2\anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Winrate   R-squared:                       0.441
Model:                            OLS   Adj. R-squared:                  0.371
Method:                 Least Squares   F-statistic:                     6.306
Date:                Wed, 05 Jan 2022   Prob (F-statistic):             0.0363
Time:                        16:12:54   Log-Likelihood:                 12.560
No. Observations:                  10   AIC:                            -21.12
Df Residuals:                       8   BIC:                            -20.51
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0567      0.223     -0.255      0.805      -0.571       0.457
P1             0.0017      0.001      2.511      0.036       0.000       0.003
==============================================================================
Omnibus:                        0.484   Durbin-Watson:                   2.105
Prob(Omnibus):                  0.785   Jarque-Bera (JB):                0.310
Skew:                           0.357   Prob(JB):                        0.856
Kurtosis:                       2.514   Cond. No.                     3.04e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.04e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [21]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율')
df_2 = pd.read_csv('2019_수비_팀별.csv')
df_2.index = df_2['팀명']
del df_2['팀명']
df_2

     순위    G    E  PKO    PO     A   DP   FPCT  PB   SB  CS   CS%
팀명
SK    1  144   87    9  3877  1416  131  0.984   3  105  31  22.8
NC    2  144   95    6  3853  1477  130  0.982   4   64  49  43.4
두산    3  144   83    8  3851  1430  131  0.985   6   96  32  25.0
LG    4  144   95    6  3850  1507  139  0.983   7  115  41  26.3
키움    5  144   99   13  3837  1509  128  0.982   6   92  46  33.3
KT    6  144  102    7  3831  1479  137  0.981  15   90  43  32.3
삼성    7  144  105    4  3826  1370  132  0.980   9   90  38  29.7
롯데    8  144  114    8  3813  1432  131  0.979  11   91  44  32.6
한화    9  144  106    8  3806  1488  151  0.980  10  104  49  32.0
KIA  10  144  110    5  3792  1381  126  0.979   9  116  50  30.1

In [24]:
df_fin = pd.DataFrame()
df_fin['kWAR_score'] = df_1['kWAR_score']
df_fin['E'] = df_2['E']
df_fin['Winrate'] = df_1['Winrate']
df_fin

            kWAR_score    E  Winrate
Unnamed: 0
두산            4790.142   83    0.615
KT            4754.125  102    0.500
키움            4743.975   99    0.601
KIA           4562.400  110    0.437
NC            4893.407   95    0.514
LG            4798.749   95    0.552
삼성            4660.533  105    0.420
한화            4698.880  106    0.403
롯데            4790.569  114    0.340
SK            4743.813   87    0.615

In [25]:
model = ols(formula = 'Winrate ~ E + kWAR_score', data = df_fin).fit()

In [26]:
model.summary()

C:\Users\jaij2\anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Winrate   R-squared:                       0.822
Model:                            OLS   Adj. R-squared:                  0.771
Method:                 Least Squares   F-statistic:                     16.12
Date:                Wed, 05 Jan 2022   Prob (F-statistic):            0.00240
Time:                        16:17:51   Log-Likelihood:                 18.273
No. Observations:                  10   AIC:                            -30.55
Df Residuals:                       7   BIC:                            -29.64
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.0373      1.022      1.993      0.087      -0.380       4.455
E             -0.0094      0.002     -5.304      0.001      -0.014      -0.005
kWAR_score    -0.0001      0.000     -0.644      0.540      -0.001       0.000
==============================================================================
Omnibus:                        7.227   Durbin-Watson:                   1.360
Prob(Omnibus):                  0.027   Jarque-Bera (JB):                2.823
Skew:                           1.205   Prob(JB):                        0.244
Kurtosis:                       3.983   Cond. No.                     3.30e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.3e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [28]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리')
df_3 = pd.read_csv('2019_전포지션_수비점수_March_kWAR_AHP.csv', encoding = 'cp949')
df_3.index = df_3['선수명']
del df_3['선수명']
df_3

          IP     E  March_score  kWAR_score  AHP_score
선수명
강경학   273.00   4.0     1468.641     147.829     39.993
강로한   709.67  20.0     3910.467     449.717    105.735
강민국   245.67   9.0     1487.254     171.306     44.404
강민호   842.00   8.0     6661.904     832.738    308.113
강백호   622.66   3.0     1549.272     127.421     23.109
..       ...   ...          ...         ...        ...
홍창기    52.00   0.0      136.500      13.400      2.337
황대인    48.00   0.0      100.000       1.200      1.260
황윤호   297.67   6.0     1534.647     177.799     38.623
황재균  1026.67  11.0     4123.564     602.866    127.589
황진수    10.33   0.0       37.320       5.598      1.157

[281 rows x 5 columns]

In [29]:
df_3['Erate'] = df_3['E'] / df_3['IP']
df_3

          IP     E  March_score  kWAR_score  AHP_score     Erate
선수명
강경학   273.00   4.0     1468.641     147.829     39.993  0.014652
강로한   709.67  20.0     3910.467     449.717    105.735  0.028182
강민국   245.67   9.0     1487.254     171.306     44.404  0.036635
강민호   842.00   8.0     6661.904     832.738    308.113  0.009501
강백호   622.66   3.0     1549.272     127.421     23.109  0.004818
..       ...   ...          ...         ...        ...       ...
홍창기    52.00   0.0      136.500      13.400      2.337  0.000000
황대인    48.00   0.0      100.000       1.200      1.260  0.000000
황윤호   297.67   6.0     1534.647     177.799     38.623  0.020157
황재균  1026.67  11.0     4123.564     602.866    127.589  0.010714
황진수    10.33   0.0       37.320       5.598      1.157  0.000000

[281 rows x 6 columns]

     순위    G    E  PKO    PO     A   DP   FPCT  PB   SB  CS   CS%
팀명
SK    1  144   87    9  3877  1416  131  0.984   3  105  31  22.8
NC    2  144   95    6  3853  1477  130  0.982   4   64  49  43.4
두산    3  144   83    8  3851  1430  131  0.985   6   96  32  25.0
LG    4  144   95    6  3850  1507  139  0.983   7  115  41  26.3
키움    5  144   99   13  3837  1509  128  0.982   6   92  46  33.3
KT    6  144  102    7  3831  1479  137  0.981  15   90  43  32.3
삼성    7  144  105    4  3826  1370  132  0.980   9   90  38  29.7
롯데    8  144  114    8  3813  1432  131  0.979  11   91  44  32.6
한화    9  144  106    8  3806  1488  151  0.980  10  104  49  32.0
KIA  10  144  110    5  3792  1381  126  0.979   9  116  50  30.1