In [2]:
import os
import pandas as pd
import numpy as np

In [81]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그)\2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분')
bat_19 = pd.read_csv('2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2016.csv')
bat_19 = bat_19.iloc[:, 6:]
del bat_19['START_CK'], bat_19['BAT_ORDER_NO']
bat_19 = bat_19.sort_values(by = ['P_ID'])
bat_19 = bat_19.reset_index(drop = True)
bat_19

,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,60100,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.0,1,0
1,60100,3,3,0,0,1,1,0,0,0,...,0,0,0,2,0,0,1,0.0,0,0
2,60100,4,4,0,2,2,1,0,0,0,...,0,0,0,1,0,0,0,0.0,0,0
3,60100,2,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0.0,0,0
4,60100,4,3,3,2,2,0,0,1,0,...,1,0,0,0,0,0,1,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18679,99810,1,1,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1.0,1,1
18680,99810,1,1,3,1,1,0,0,1,0,...,0,0,0,0,0,0,0,1.0,1,1
18681,99810,5,4,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0.0,3,0
18682,99810,4,3,1,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0.0,1,0
18683,99810,4,2,0,1,1,0,0,0,0,...,1,0,1,0,0,0,1,0.0,0,0

In [82]:
## 루프 돌릴 때 마지막 row 하나 더 필요해서 추가
bat_19 = bat_19.append({'P_ID' : 0}, ignore_index = True)

In [83]:
## 선수 한 명의 기록 합친 값이 들어갈 df 생성
bat_19_sum = pd.DataFrame(columns = bat_19.columns)
bat_19_sum['P_ID'] = bat_19['P_ID'].unique()
bat_19_sum

,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,60100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,60263.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,60343.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60404.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,99563.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,99606.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,99737.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,99810.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
## 선수 한 명의 1년치 기록 합치기
test = 0
ID_1 = 60100
row = 0
for d in range(1, len(bat_19.columns)) :
    c = 0
    row = 0
    for a in range(0, len(bat_19)) :
        ID = bat_19.iloc[a, 0]
        if ID == ID_1 :
            c += bat_19.iloc[a, d]

        else :
            bat_19_sum.iloc[row, d] = c
            row += 1
            c = 0
            c += bat_19.iloc[a, d]
            ID_1 = bat_19.iloc[a, 0]
            test += 1

In [85]:
bat_19_sum

,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,60100.0,21.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60146.0,0.0,18.0,3.0,4.0,6.0,2.0,0.0,1.0,0.0,...,2.0,0.0,1.0,6.0,1.0,0.0,4.0,1.0,3.0,1.0
2,60263.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60343.0,254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,60404.0,52.0,231.0,22.0,16.0,47.0,10.0,0.0,6.0,1.0,...,9.0,0.0,3.0,65.0,7.0,8.0,36.0,5.833333,59.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,99563.0,0.0,40.0,5.0,4.0,10.0,2.0,0.0,0.0,0.0,...,5.0,0.0,0.0,9.0,3.0,0.0,6.0,3.0,11.0,3.0
375,99606.0,418.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376,99737.0,0.0,370.0,64.0,58.0,119.0,22.0,1.0,6.0,8.0,...,33.0,1.0,5.0,59.0,9.0,4.0,85.0,27.0,112.0,36.0
377,99810.0,424.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
378,0.0,NaN,371.0,72.0,49.0,123.0,23.0,1.0,10.0,2.0,...,45.0,1.0,3.0,44.0,13.0,0.0,85.0,28.2,117.0,39.0

In [86]:
## 두 번째칼럼부터 하나씩 밀려서 들어가서 첫 번째 칼럼도 하나씩 밀어줌
PA_list = bat_19_sum['PA'].to_list()
PA_list.insert(0, 0)
PA_list = PA_list[:-1]
bat_19_sum['PA'] = PA_list

In [87]:
## 두 번째칼럼부터 하나씩 밀려서 들어가서 두 번째 칼럼도 하나씩 밀어줌
ID_list = bat_19_sum['P_ID'].to_list()
ID_list.insert(0, 0)
ID_list = ID_list[:-1]
bat_19_sum['P_ID'] = ID_list

In [88]:
## 그리고 나서 첫 번째 쓸모없는 row 삭제
bat_19_sum = bat_19_sum.drop([0])
bat_19_sum = bat_19_sum.reset_index(drop = True)
bat_19_sum

,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,60100.0,21.0,18.0,3.0,4.0,6.0,2.0,0.0,1.0,0.0,...,2.0,0.0,1.0,6.0,1.0,0.0,4.0,1.0,3.0,1.0
1,60146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,60263.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60343.0,254.0,231.0,22.0,16.0,47.0,10.0,0.0,6.0,1.0,...,9.0,0.0,3.0,65.0,7.0,8.0,36.0,5.833333,59.0,8.0
4,60404.0,52.0,47.0,1.0,3.0,5.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,12.0,1.0,0.0,7.0,0.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,99222.0,45.0,40.0,5.0,4.0,10.0,2.0,0.0,0.0,0.0,...,5.0,0.0,0.0,9.0,3.0,0.0,6.0,3.0,11.0,3.0
374,99563.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
375,99606.0,418.0,370.0,64.0,58.0,119.0,22.0,1.0,6.0,8.0,...,33.0,1.0,5.0,59.0,9.0,4.0,85.0,27.0,112.0,36.0
376,99737.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,99810.0,424.0,371.0,72.0,49.0,123.0,23.0,1.0,10.0,2.0,...,45.0,1.0,3.0,44.0,13.0,0.0,85.0,28.2,117.0,39.0

In [89]:
## 선수 ID float -> integer
bat_19_sum.index = [int(f) for f in bat_19_sum['P_ID']]
del bat_19_sum['P_ID']
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
60100,21.0,18.0,3.0,4.0,6.0,2.0,0.0,1.0,0.0,1.0,...,2.0,0.0,1.0,6.0,1.0,0.0,4.0,1.0,3.0,1.0
60146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60343,254.0,231.0,22.0,16.0,47.0,10.0,0.0,6.0,1.0,1.0,...,9.0,0.0,3.0,65.0,7.0,8.0,36.0,5.833333,59.0,8.0
60404,52.0,47.0,1.0,3.0,5.0,0.0,0.0,0.0,0.0,2.0,...,3.0,0.0,0.0,12.0,1.0,0.0,7.0,0.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99222,45.0,40.0,5.0,4.0,10.0,2.0,0.0,0.0,0.0,1.0,...,5.0,0.0,0.0,9.0,3.0,0.0,6.0,3.0,11.0,3.0
99563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99606,418.0,370.0,64.0,58.0,119.0,22.0,1.0,6.0,8.0,4.0,...,33.0,1.0,5.0,59.0,9.0,4.0,85.0,27.0,112.0,36.0
99737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99810,424.0,371.0,72.0,49.0,123.0,23.0,1.0,10.0,2.0,5.0,...,45.0,1.0,3.0,44.0,13.0,0.0,85.0,28.2,117.0,39.0

In [3]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19_sum.to_csv('2016_타자_sum.csv', encoding = 'cp949')
bat_19_sum

NameError: name 'bat_19_sum' is not defined

In [86]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19_sum = pd.read_csv('2019_타자_sum.csv')
bat_19_sum.index = bat_19_sum['Unnamed: 0']
del bat_19_sum['Unnamed: 0']
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
60100,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,18.0,1.0,0.0,7.0,1.00,6.0,1.0
60140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
60184,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.00,0.0,0.0
60288,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,1.0,0.0,1.0,0.00,3.0,0.0
60339,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79608,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,40.0,1.0,1.0,37.0,9.0,11.0,98.0,17.75,124.0,29.0
79705,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,11.0,0.0,0.0,24.0,1.0,2.0,23.0,8.00,33.0,10.0
79825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
79847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
99445,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0

In [87]:
## 연봉 추가
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그)\2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분')
ply_19 = pd.read_csv('2020빅콘테스트_스포츠투아이_제공데이터_선수_2019.csv', encoding = 'cp949')
ply_19.index = ply_19['PCODE']
ply_19

       GYEAR  PCODE NAME T_ID POSITION  AGE_VA    MONEY
PCODE
60100   2019  60100  백창수   HH        외      31   6000만원
60140   2019  60140  신정락   HH        투      32  12000만원
60146   2019  60146  이승현   SS        투      28   7000만원
60181   2019  60181  김지용   LG        투      31  12500만원
60184   2019  60184  김창혁   HH        포      28   3000만원
...      ...    ...  ...  ...      ...     ...      ...
79705   2019  79705  김회성   HH        내      34   6500만원
79764   2019  79764  장민재   HH        투      29   9000만원
79825   2019  79825  여건욱   LG        투      33   5300만원
79847   2019  79847  김태훈   SK        투      29  18000만원
99445   2019  99445  권오준   SS        투      39  15000만원

[656 rows x 7 columns]

In [88]:
## 선수명, 포지션, 연봉 추가
bat_19_sum['Name'] = ply_19['NAME']
bat_19_sum['Position'] = ply_19['POSITION']
bat_19_sum['Salary'] = ply_19['MONEY']
bat_19_sum['Salary'] = [g[:-2] for g in bat_19_sum['Salary'].to_list()]
bat_19_sum['Team'] = ply_19['T_ID']
bat_19_sum['Age'] = ply_19['AGE_VA']
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Name,Position,Salary,Team,Age
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
60100,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,0.0,7.0,1.00,6.0,1.0,백창수,외,6000,HH,31
60140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,신정락,투,12000,HH,32
60184,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.00,0.0,0.0,김창혁,포,3000,HH,28
60288,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.00,3.0,0.0,김응민,포,2900,SS,28
60339,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,김건태,투,5700,NC,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79608,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,11.0,98.0,17.75,124.0,29.0,안치홍,내,50000,HT,29
79705,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,2.0,23.0,8.00,33.0,10.0,김회성,내,6500,HH,34
79825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,여건욱,투,5300,LG,33
79847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,김태훈,투,18000,SK,29
99445,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,권오준,투,15000,SS,39

In [89]:
## 투수 빼기
bat_19_sum = bat_19_sum[bat_19_sum['Position'] != '투']
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Name,Position,Salary,Team,Age
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
60100,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,0.0,7.0,1.000000,6.0,1.0,백창수,외,6000,HH,31
60184,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.000000,0.0,0.0,김창혁,포,3000,HH,28
60288,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.000000,3.0,0.0,김응민,포,2900,SS,28
60343,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,1.0,7.0,1.000000,13.0,1.0,이해창,포,6100,KT,32
60523,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,4.0,43.0,7.500000,51.0,9.0,정훈,외,8000,LT,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79456,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,3.0,54.0,20.333333,91.0,28.0,이지영,포,21000,WO,33
79465,80.0,71.0,7.0,5.0,16.0,1.0,0.0,0.0,2.0,0.0,...,0.0,15.0,4.000000,13.0,5.0,배영섭,외,12000,SK,33
79530,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,4.0,7.0,1.000000,12.0,1.0,양종민,내,3000,LG,29
79608,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,11.0,98.0,17.750000,124.0,29.0,안치홍,내,50000,HT,29
79705,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,2.0,23.0,8.000000,33.0,10.0,김회성,내,6500,HH,34

In [90]:
## DEA 돌릴 df 생성
bat_19_DEA = bat_19_sum.reset_index(drop = True)
bat_19_DEA.index = bat_19_sum['Name']
del bat_19_DEA['Name']
bat_19_DEA

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Salary,Team,Age
Name,,,,,,,,,,,,,,,,,,,,,
백창수,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,1.0,0.0,7.0,1.000000,6.0,1.0,외,6000,HH,31
김창혁,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.000000,0.0,0.0,포,3000,HH,28
김응민,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.000000,3.0,0.0,포,2900,SS,28
이해창,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,7.0,1.000000,13.0,1.0,포,6100,KT,32
정훈,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,4.0,4.0,43.0,7.500000,51.0,9.0,외,8000,LT,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
이지영,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,14.0,3.0,54.0,20.333333,91.0,28.0,포,21000,WO,33
배영섭,80.0,71.0,7.0,5.0,16.0,1.0,0.0,0.0,2.0,0.0,...,0.0,0.0,15.0,4.000000,13.0,5.0,외,12000,SK,33
양종민,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,3.0,4.0,7.0,1.000000,12.0,1.0,내,3000,LG,29
안치홍,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,9.0,11.0,98.0,17.750000,124.0,29.0,내,50000,HT,29
김회성,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,1.0,2.0,23.0,8.000000,33.0,10.0,내,6500,HH,34

In [91]:
OBP_list = []
for i in range(0, len(bat_19_DEA)) :
    up = bat_19_DEA.iloc[i, 4] + bat_19_DEA.iloc[i, 12] + bat_19_DEA.iloc[i, 14]
    down = bat_19_DEA.iloc[i, 1] + bat_19_DEA.iloc[i, 12] + bat_19_DEA.iloc[i, 14] + bat_19_DEA.iloc[i, 11]
    OBP = up/down
    OBP_list.append(OBP)

<ipython-input-91-010d4ebcfe16>:5: RuntimeWarning: invalid value encountered in double_scalars
  OBP = up/down

In [92]:
bat_19_DEA['OBP'] = OBP_list
bat_19_DEA

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Salary,Team,Age,OBP
Name,,,,,,,,,,,,,,,,,,,,,
백창수,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,0.0,7.0,1.000000,6.0,1.0,외,6000,HH,31,0.260870
김창혁,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.000000,0.0,0.0,포,3000,HH,28,0.000000
김응민,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.000000,3.0,0.0,포,2900,SS,28,0.230769
이해창,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,1.0,7.0,1.000000,13.0,1.0,포,6100,KT,32,0.186047
정훈,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,4.0,43.0,7.500000,51.0,9.0,외,8000,LT,32,0.324201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
이지영,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,3.0,54.0,20.333333,91.0,28.0,포,21000,WO,33,0.316923
배영섭,80.0,71.0,7.0,5.0,16.0,1.0,0.0,0.0,2.0,0.0,...,0.0,15.0,4.000000,13.0,5.0,외,12000,SK,33,0.300000
양종민,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,4.0,7.0,1.000000,12.0,1.0,내,3000,LG,29,0.170213
안치홍,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,11.0,98.0,17.750000,124.0,29.0,내,50000,HT,29,0.379902
김회성,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,2.0,23.0,8.000000,33.0,10.0,내,6500,HH,34,0.301724

In [93]:
SLG_list = []
for j in range(0, len(bat_19_DEA)) :
    hit1 = bat_19_DEA.iloc[j, 4] - bat_19_DEA.iloc[j, 5] - bat_19_DEA.iloc[j, 6] - bat_19_DEA.iloc[j, 7]
    hit2 = bat_19_DEA.iloc[j, 5] * 2
    hit3 = bat_19_DEA.iloc[j, 6] * 3
    hit4 = bat_19_DEA.iloc[j, 7] * 4
    
    up = hit1 + hit2 + hit3 + hit4
    down = bat_19_DEA.iloc[j, 1]
    
    SLG = up/down
    SLG_list.append(SLG)

<ipython-input-93-452966022b19>:11: RuntimeWarning: invalid value encountered in double_scalars
  SLG = up/down

In [94]:
bat_19_DEA['SLG'] = SLG_list
bat_19_DEA

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Salary,Team,Age,OBP,SLG
Name,,,,,,,,,,,,,,,,,,,,,
백창수,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,7.0,1.000000,6.0,1.0,외,6000,HH,31,0.260870,0.295455
김창혁,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,포,3000,HH,28,0.000000,0.000000
김응민,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.000000,3.0,0.0,포,2900,SS,28,0.230769,0.307692
이해창,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,7.0,1.000000,13.0,1.0,포,6100,KT,32,0.186047,0.125000
정훈,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,43.0,7.500000,51.0,9.0,외,8000,LT,32,0.324201,0.289474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
이지영,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,54.0,20.333333,91.0,28.0,포,21000,WO,33,0.316923,0.314935
배영섭,80.0,71.0,7.0,5.0,16.0,1.0,0.0,0.0,2.0,0.0,...,15.0,4.000000,13.0,5.0,외,12000,SK,33,0.300000,0.239437
양종민,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,7.0,1.000000,12.0,1.0,내,3000,LG,29,0.170213,0.181818
안치홍,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,98.0,17.750000,124.0,29.0,내,50000,HT,29,0.379902,0.411602
김회성,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,23.0,8.000000,33.0,10.0,내,6500,HH,34,0.301724,0.355769

In [95]:
bat_19_DEA['OPS'] = [k + l for k, l in zip(bat_19_DEA['OBP'], bat_19_DEA['SLG'])]
bat_19_DEA

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Salary,Team,Age,OBP,SLG,OPS
Name,,,,,,,,,,,,,,,,,,,,,
백창수,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,1.000000,6.0,1.0,외,6000,HH,31,0.260870,0.295455,0.556324
김창혁,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,포,3000,HH,28,0.000000,0.000000,0.000000
김응민,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,3.0,0.0,포,2900,SS,28,0.230769,0.307692,0.538462
이해창,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,1.000000,13.0,1.0,포,6100,KT,32,0.186047,0.125000,0.311047
정훈,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,7.500000,51.0,9.0,외,8000,LT,32,0.324201,0.289474,0.613675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
이지영,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,20.333333,91.0,28.0,포,21000,WO,33,0.316923,0.314935,0.631858
배영섭,80.0,71.0,7.0,5.0,16.0,1.0,0.0,0.0,2.0,0.0,...,4.000000,13.0,5.0,외,12000,SK,33,0.300000,0.239437,0.539437
양종민,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,1.000000,12.0,1.0,내,3000,LG,29,0.170213,0.181818,0.352031
안치홍,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,17.750000,124.0,29.0,내,50000,HT,29,0.379902,0.411602,0.791504
김회성,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,8.000000,33.0,10.0,내,6500,HH,34,0.301724,0.355769,0.657493

In [96]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19_DEA.to_csv('2019_타자_OPS, Team, Salary, Age, Position.csv', encoding = 'cp949')

In [97]:
number_list = [1,2,3,4,5,6,7,8,9,10]
number_list[3:8:4]

[4, 8]